.header-top {
  background: #424242 none repeat scroll 0 0;
  height: 35px;
  line-height: 35px;
}
.header-top .a-right {
  text-align: right;
  margin: 0 3.5%;
}
.logo {
  display: flex;
}
.logo > img {
  margin: 0% 8%;
  vertical-align: middle;
  border: 0;
  width: 30%;
}
/*Buscador*/
.buscador {
  display: flex;
}
.barra {
  width: 500%;
}
.lupa {
  width: 200%;
  padding: 3px 0%;
}
/**/
.fontLista {
  font-size: 120%;
}

.grey {
  width: 70%;
  border-radius: 16px;
}
.imagenesVinculos {
  margin: 0% 18% 0% 20%;
  display: flex;
  justify-content: space-evenly;
}
.nav.navbar-nav {
  margin-top: 9%;
}
.header-part ul li {
  font-size: 100%;
}
img {
  margin: 0% 8%;
  vertical-align: middle;
  border: 0;
  width: 20%;
}

.hed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fondo {
  width: 100%;
  height: 9em;
  background-color: #424242;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  color: white;
  text-align: center;
}
.box2 {
  padding: 0.5% 0% 0px 6%;
}
p.cent {
  font-size: 2.5em;
}
.boton {
  width: 130%;
  padding: 14%;
}
.exitosMomentos h2 {
  color: #4f4f4f;
  font-family: "Roboto", sans-serif;
  font-size: 43px;
  font-weight: 400;
  margin: 0% 0 1%;
}
.exitosMomentos .text p {
  font-size: 18px;
  color: #6a6a6a;
  line-height: 35px;
  font-weight: 400;
}
.listaExisto {
  display: flex;
  justify-content: center;
}
.listaExisto > img {
  border-radius: 12px;
}
.opciones {
  margin: 4% 0 0%;
  display: flex;
  justify-content: center;
}
.opcionesList {
  width: 44%;
}
.team h2 {
  color: #4f4f4f;
  font-family: "Poppins", sans-serif;
  font-size: 43px;
  font-weight: 400;
  margin: 7% 0 2.5%;
  text-align: center;
}
.tamaño {
  width: 35%;
}
h1 {
  font-size: 2.2em;
}

.cart {
  text-align: right;
  color: black;
  margin: 0px 42%;
}

.cart i {
  color: black;
  font-size: 30px;
}
.col-md-6 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.team .teams {
  padding: 0px 20px 0;
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.teams > img {
  width: 85%;
  border-radius: 12px;
}
.parrilla {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6 {
  padding: 3% 0% 0;
}

img.imagenslider {
  width: 100%;
}
.slider img {
  display: block;
  margin: auto;
  width: 100%;
}
.features h2 {
  color: #4f4f4f;
  font-size: 43px;
  margin: 115px 0;
  text-align: center;
  margin: 4%;
}
section.slider {
  margin: 2.5% 0%;
}
.header-part {
  margin-top: 37px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  color: black;
}
.header-part li a {
  color: black;
}
.header-part li a:hover {
  color: rgb(242, 201, 21);
}
.slider {
  position: relative;
  margin: 1.9% 0;
}
@media (max-width: 567px) {
  .col-xs-6 {
    width: 50%;
  }
}
