#slider-container {
  width: 999999px;
  height: 300px; //set to the height you want
  position: relative;
}
#slider-mask {
  width: 500px; //set slide width. must be equal to slide width
  height: 300px;
  overflow: hidden;
  position: relative;
}
.slide {
  width: 500px;
  height: 100%;
  top: 0;
  position: absolute;
}
#buttons {
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 150px;
  height: 30px;
  margin-left: -75px;
}
