* {
  margin: 0;
  padding: 0;
}
.contenedor2 {
  border: 1px solid;
  width: fit-content;
}
.contenedor3 {
  border: 1px solid;
  width: 24.5%;
}
.contenedor3:hover {
  background-color: rgb(210, 227, 243);
}
.cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
