* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans Mandaic", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Source Sans 3", sans-serif;
}

.div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor1 {
  width: 33%;
  margin: 1%;
  font-size: 2em;
}
h2 {
  width: 28.5%;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}
li {
  margin: 0px 6.5%;
}

.iniciar {
  width: 28.5%;
  margin: 0.75% 0;
}

.contenedor2 {
  width: 28.5%;
}

.correo {
  width: 92%;
  padding: 2%;
}

.boton {
  width: 44%;
  padding: 2%;
  margin: 6% 0;
  background-color: #a9aaf9;
}
.enlace {
  margin: 0 10%;
  color: #a9aaf9;
}
.google {
  width: 2%;
}

.contenedor3 {
  width: 28.5%;
  padding: 0.5% 0.3%;
  border: solid 1px;
  margin: 1% 0;
  background-color: white;
}

.sesion {
  width: 29%;
  font-size: 130%;
}

.facebook {
  width: 2%;
  font-size: ;
}

.contenedor4 {
  width: 28.5%;
  padding: 0.5% 0.3%;
  border: solid 1px;
  background-color: #1877f2;
}

body {
  background-color: #212530;
  color: white;
}

ul:hover {
  background-color: #575760;
}

a {
  color: #a9aaf9;
}

.googleBoton {
  background-color: white;
  color: #212530;
}
.facebookBoton {
  background-color: #1877f2;
}
