.v-application .grey.lighten-4 {
  background-color: #f5f5f5 !important;
  border-color: #f5f5f5 !important;
}

.v-application .flex-column {
  flex-direction: column !important;
}
.v-application .d-flex {
  display: flex !important;
}
.v-application .grey {
  background-color: undefined !important;
  border-color: undefined !important;
}
.fill-height {
  height: 100%;
}
