body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fdfcef;
}

.contenedor {
    display: flex;
    flex-direction: column;
}

.contenedor-titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.logo {
    width: 10%;
    height: 12%;
}

h1 {
    font-weight: bold;
    color: #5E81C5;
    font-size: 3rem;
    margin-left: 2.1em;
}

.subtitulo {
    font-weight: 400;
    color: #000;
    font-size: 1.5rem;
}

.login {
    width: 3%;
    height: 5%;
    margin-top: 1em;
    margin-right: 5%;
}

.contenedor-menu {
    background-color: #5E81C5;
    width: 80%;
    margin-left: 10%;
    padding-top: 1%;
    margin-bottom: 1%;
    position: absolute;
    margin-top: 4%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul.menu li {
    list-style: none;
    margin-bottom: 1em;
}

ul.menu li a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
}
.slider-all{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.recetario img{
    width: 35%;
    height: 37%;
}
.recetario p{
    margin-left: 4.5%;
}
.recetario p a{
    text-decoration: none;
    color: #FF756B;
    font-size: 1.5em;
    font-weight: bold;
}
.slider {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 1200px;
    height: auto;
}
.slider-a{
    margin-right: 11%;
}

.slider ul {
    padding: 0;
}

.slider ul li {
    list-style: none;
}

.slider ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide1{
    width: 1200px;
    height: 620px;
}
h2{
    text-align: center;
    font-weight: 400;
}
.buscador{
    margin-left: 28%;
}
.buscar{
    width: 60%;
    height: 32%;
    padding: 1em;
    font-size: 1em;
    border-radius: 20px;
}
.azul{
    color: #5E81C5;
}
.slider div a{
    text-decoration: none;
    color: #000;
}
