* {
  margin: 0;
  padding: 0;
}

.navegacionNegro {
  float: left;
  background-color: black;
}

.navegacionNegro > a {
  float: left;
  display: block;
  color: white;
  font-size: 11px;
  padding: 14px 91px;
}
nav a:hover {
  color: black;
  background-color: #ddd;
}

.menu2 {
  height: 33em;
  width: 100%;
  float: left;
  background-color: rgb(159, 220, 255);
}

.menu2 > a {
  float: left;
  display: block;
  color: black;
  font-size: 15px;
  text-align: center;
  padding: 1% 5%;
  text-decoration: none;
}
